*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	background-color: rgba(149, 117, 205, 0.4);
}
.clear{
	clear: both;
}
.center{
	max-width: 980px;
	padding: 0 2%;
	margin: 0 auto;
}
a{
	color: black;
	text-decoration: none;
}
header{
	background-color: rgba(38,198,218,0.5);
	padding: 10px 2%;
}
header a{
	color: white;
	font-weight: bolder;
}
.logo{
	float: left;
}
.logo a{
	font-size: 30px;
}
.menu{
	float: right;
	margin-top: 9px ;
}
.menu a{
	margin: 0 15px;
}
.main{
	margin-top: 10px;
}
.main > .center{
	background-color: white;
	width: 100%;
	padding: 30px;
}
.main form{
	text-align: center;
	border: 1px dotted black;
}
.main form input,
.main form select,
.main form button{
	width: 200px;
	display: block;
	margin: 8px auto;
	padding: 3px 8px;
}